[submodule "themes/cactus"]
	path = themes/cactus
	url = git@github.com:joined/hugo-theme-cactus.git
[submodule "themes/hugo-notice"]
	path = themes/hugo-notice
	url = https://github.com/martignoni/hugo-notice.git
